.st-outer {
  font-family: $base-font-family;
}

// ST-Icons
[data-icon]:before,
[data-icon-after]:after {
}

[data-icon-after]:after {
  content: attr(data-icon-after);
}

.st-icon {
  cursor:pointer;
}

[data-icon=bin]:hover:before {
  content: "binopen";
}

.st-block__inner {

  ::-moz-selection {
      background: $accent-color;
      text-shadow: none;
  }

  ::selection {
      background: $accent-color;
      text-shadow: none;
  }

}

.st-spinner {
  position: absolute!important;
  left: 50%; top: 50%;
}
