// Block Control

.st--block-limit-reached .st-block-controls__top {
  display: none;
}

.st-block-controls__top:before {
  @extend .st-icon--add;
  content: '';
  width: 100%;
  display: block;
  padding: 1.3em 0;
  background-position: center center;
}

.st-block-controls__top:hover:before {
  fill: $accent-color;
  background-color: $blocks-control-bg-color;
}

.st-block-controls {
  font-family: $base-font-family-dark;
  background-color: $blocks-control-bg-color;
  display: none;
  border-radius: 3px;
  color: $base-ui-color;
  width: 100%;
  text-align: center;
  padding: 1.2em 0;
}

.st-block-controls--active {
  display:block;
}

.st-block-control {
  font-size: 1.125em;
  display: inline-block;
  cursor: pointer;
  margin: 0 1em 0 0;
}

.st-block-control .st-icon {
  font-size: 2.25em;
  margin: 0 0 .4em 0;
  display: block;
}

.st-block-control:hover {
  color: $accent-color;
}