.st-icon--add { background-image: url(png/add.png); background-repeat: no-repeat; }

.st-icon--bin-open { background-image: url(png/bin-open.png); background-repeat: no-repeat; }

.st-icon--bin { background-image: url(png/bin.png); background-repeat: no-repeat; }

.st-icon--competition { background-image: url(png/competition.png); background-repeat: no-repeat; }

.st-icon--embed { background-image: url(png/embed.png); background-repeat: no-repeat; }

.st-icon--header { background-image: url(png/header.png); background-repeat: no-repeat; }

.st-icon--iframe { background-image: url(png/iframe.png); background-repeat: no-repeat; }

.st-icon--image { background-image: url(png/image.png); background-repeat: no-repeat; }

.st-icon--link { background-image: url(png/link.png); background-repeat: no-repeat; }

.st-icon--list { background-image: url(png/list.png); background-repeat: no-repeat; }

.st-icon--move { background-image: url(png/move.png); background-repeat: no-repeat; }

.st-icon--poll { background-image: url(png/poll.png); background-repeat: no-repeat; }

.st-icon--quote { background-image: url(png/quote.png); background-repeat: no-repeat; }

.st-icon--text { background-image: url(png/text.png); background-repeat: no-repeat; }

.st-icon--tweet { background-image: url(png/tweet.png); background-repeat: no-repeat; }

.st-icon--video { background-image: url(png/video.png); background-repeat: no-repeat; }